.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.focus{
    width: 721px;
    height: 455px;
    float: left;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news-hd{
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd .more {
    float: right;

}
.news .more::after {
    font-family: 'icomoon';
content: '\e902';
}
.news-bd ul {
    margin-top: 5px;
    margin-left: 15px;
}
.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
    height: 209px;
    overflow: hidden;
    /* background-color: blue; */
    border: 1px solid #e4e4e4;
    border-top: 0;
}.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {

    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li .end {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}
.lifeservice ul li .first {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -80px -15px;
}
.lifeservice ul li .ten {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -142px -15px;
}
.lifeservice ul li .one {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -205px -15px;
}
.lifeservice ul li .two {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -18px -85px;
}
.lifeservice ul li .there {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -80px -85px;
}
.lifeservice ul li .four {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -142px -85px;
}
.lifeservice ul li .five {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -205px -85px;
}
.lifeservice ul li .six {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -155px;
}
.lifeservice ul li .eleven {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -79px -155px;
}
.lifeservice ul li .nght {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -141px -155px;
}
.lifeservice ul li .nane {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -204px -155px;
}
.bargain {
    margin-top: 5px;
}
/* 推荐模块 */
.recom {
    position: relative;
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}
.recom_hd{
float: left;
height: 163px;
width: 205px;
background-color: #5c5251;
text-align: center;
padding-top: 30px;
}
.recom_bd{
float: left;
}
.recom_bd ul li {
    float: left;
}
recom_bd ul li img {
    width: 248px;
    height: 163px;
}
.recom_bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
/* 家用电器模块 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}
.tab-list {
    float: right;
}
.tab-list ul li {
    float: left;
    line-height: 30px;
    
}
.tab-list ul li a {
  margin: 0 15px;
}
.floor .w {
    margin-top: 30px;
}
.box_bd{
    height: 361px;
}
.tab_list_item>div {
    float: left;
    height: 361px;
}
.col_210 {
    width: 210px;
    text-align: center;
    background-color: #f9f9f9;
}
.col_210 ul li {
    float: left;
width:85px;
height: 34px;
border-bottom: 1px solid #ccc;
line-height: 34px;
text-align: center;
margin-right: 10px;
}
.col_210 ul {
    padding-left: 12px;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_219 {
    width: 219px;
}
.bb {
    /* 一般情况下：a如果包含有宽度的盒子，a需要转为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}